.posts-image {
  max-height: 200px;
  object-fit: cover;
}

.avatar-container {
  width: 100px;
  height: 100px;
}

.avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatar-container-mini {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.card-header {
  font-size: 18px;
  font-weight: 600;
}

.profile-name:link,
.profile-name:visited {
  color: black;
  text-decoration: none;
}

.profile-name:hover {
  text-decoration: underline;
}

.banner-container {
  max-height: 200px;
  width: 100%;
}

.banner-image {
  height: 100%;
  object-fit: cover;
}

.welcome-buttons {
  display: flex;
  justify-content: space-around;
}

.create-button {
  margin-bottom: 12px;
}

.delete-button {
  margin-left: 10px;
}

.reactions {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.comment-container,
.edit-container {
  margin-top: 10px;
}

.comment-table {
  border-collapse: separate;
}

.comment-owner {
  font-weight: bold;
  font-size: 16px;
}

.comment-text {
  border-radius: 20px;
  background-color: rgb(211, 236, 248) !important;
  padding-left: 5px;
}

.form-error {
  color: crimson;
}
